div{/*стиль блока текста*/
	background-color: teal;/*голубой цвет фона*/
	height:50mm;/*высота и ширина равны 50 миллиметрам*/
	width:50mm;
	text-align:center;/*выранивание текста по центру*/
}

A:link{/*стиль непосещённой ссылки*/
	color: yellow;	/*цвет текста жётлый*/
}

A:visited{/*стиль посещённой ссылки*/
	color: green;/*цвет текста зелёный*/
	text-decoration: none;/*неподчёркнутый текст*/
}